<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'">
    <title>Pass Manager</title>
</head>

<body>
    <form id="registerForm">
      <h1>Register</h1>
      <input type="text" id="username" name="username" placeholder="Please enter your username">
      <input type="password" id="password" name="password" placeholder="Please enter your password">

      <select name="algorithmList" id="algorithms"></select>
      <select name="keylenList" id="keylength"></select>
      <select name="modesList" id="operationmode"></select>
      <button id="btn-send" type="submit">SEND</button>
    </form>
    <script src="register-script.js" type="module"></script>
    <script src="register-events.js"></script>
</body>

</html>